<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="/jedate/skin/jedate.css">
    <style>
        .greenBack {
            background-color: #aff5af;
        }
    </style>

    <script type="text/javascript" src="/js/public/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/public/vue.min.js"></script>
    <script type="text/javascript" src="/js/public/axios.min.js"></script>
    <script type="text/javascript" src="/jedate/dist/jedate.min.js"></script>
</head>
<body>

<div id="mainApp">

    <div>
        <span>{{ nowTime }}</span>
        <hr/>
        <span v-html="punchShow"></span>
        <br/><br/>
        <div>
            <input type="text" class="jeinput" id="jeTimeInput" style="display: none;">
            <button @click="doPunch">{{ punchTypeStr }}</button>
        </div>

    </div>
    <hr/>
    <div>
        <div>
            <input type="text" class="jeinput" id="jeQueryMonth">
            <button @click="queryRecords">查看打卡记录</button>
        </div>
        <br/>
        <div id="tbRecordData" style="display: none;">
            <table style="border-style: solid none; border-collapse: collapse;">
                <thead>
                <tr style="text-align: center;">
                    <th style="width: 35px;">序号</th>
                    <th style="width: 110px;">日期</th>
                    <th style="width: 80px;">星期</th>
                    <th style="width: 100px;">上班时间</th>
                    <th style="width: 100px;">下班时间</th>
                    <th style="width: 100px;">状态</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(b,index) in items" style="border-style: solid none; border-width: 1px;"
                    :class="b.weekName=='星期六'||b.weekName=='星期日'?'greenBack':''">
                    <td v-text="index+1" style="text-align: center;"></td>
                    <td v-text="b.dateList" style="text-align: center;"></td>
                    <td v-text="b.weekName" style="text-align: center; font-style: italic;"></td>
                    <td v-text="b.punchOnTime" style="text-align: center;"></td>
                    <td v-text="b.punchOffTime" style="text-align: center;"></td>
                    <template v-if="b.punchStatus==null">
                        <td v-text="" style="text-align: center;" @click="editPunchType($event, '')"></td>
                    </template>
                    <template v-else>
                        <td v-text="d.name" v-for="d in dic.punchStatus" v-if="d.code==b.punchStatus"
                            style="text-align: center; color: red;" @click="editPunchType($event, d.name)"></td>
                    </template>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>

<script src="/js/main/main.js"></script>
</body>
</html>